@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.six-caps-regular {
    font-family: "Six Caps", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.qwigley-regular {
    font-family: "Qwigley", cursive;
    font-weight: 400;
    font-style: normal;
}
.qwigley-regular {
    font-family: "Qwigley", cursive;
    font-weight: 400;
    font-style: normal;
}
  
    

:root{
    --header-bgc: #151419;
    --header-color: #fff;
    --header-border-btm-color: #fff;

    --nav-link-color: white;

    --btn-link-color: #151419;
    --btn-link-bgc: #fff;
}

.header { 
    background-color: var(--header-bgc);
    color: var(--header-color);
    border-bottom: 1px solid var(--header-border-btm-color);
}

.nav-link {
    border: none;
    cursor: pointer;
    color: var(--nav-link-color);
}

.nav-link:hover {
    border: 1.5px solid #848494;
}

.titulo{
    font-size: 50px;
}

.btn-link{
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 1.5s ease;
}

.btn-link:hover {
    color: var(--btn-link-bgc);
    background-color: var(--btn-link-color);
}

.search-form{
    border: 1.5px solid #848494;
    
}

.search-form input{
    background-color: #151419;
    color: white;
    outline: none;
    border: none;
}


.cont-btn a{
    margin-left: 23px;
}

.cont-btn i{
    background-color: #151419;
    color: #848494;
    font-size: 15px;
    border: 1.5px solid #848494;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, .35);
    transition: .3s ease;
}

.cont-btn i:hover{
    background-color: #848494;
    color: #151419;
}

.cont-btn .bi-cart{
    margin-right: 0px;
}

.cont-btn .person{
    margin-left: 15px;
}