<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OREON</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="../public/css/styles.css">
        <link rel="stylesheet" href="../js/home.js">
    </head>
    <body>
        <header class="container-fluid py-3 header">
            <div class="row align-items-center pe-4 ps-4">
                <nav class="col-md-4">
                    <ul class="nav">
                        <li class="nav-item ps-1 pe-1"><a href="#" class="nav-link rounded-start-5 rounded-end-5 text-white">Inicio</a></li>
                        <li class="nav-item ps-1 pe-1"><a href="#" class="nav-link rounded-start-5 rounded-end-5 text-white">Nuestra Historia</a></li>
                        <li class="nav-item ps-1 pe-1"><a href="#" class="nav-link rounded-start-5 rounded-end-5 text-white">Cooperacion</a></li>
                        <li class="nav-item ps-1 pe-1"><a href="#" class="nav-link rounded-start-5 rounded-end-5 text-white">Tienda</a></li>
                    </ul>
                </nav>

                <div class="col-md-4 text-center">
                    <h1 class="mb-0 six-caps-regular titulo">OREON</h1>
                </div>

                <div class="col-md-4">
                    <form class="container-fluid">
                        <div class="row align-items-center justify-content-end">
                            <div class="d-flex rounded-pill overflow-hidden col-md-4 search-form">
                                <button class="btn btn-link p-2" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#848494" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg>
                                </button>
                                <input class="search-input" type="search" placeholder="Buscar.." aria-label="search">
                            </div>

                            <div class="col-md-4 d-flex align-items-center cont-btn">
                                <a href=""><i class="bi bi-cart"></i></a>
                                <a href="" class="person"><i class="bi bi-person"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </header>

        <main>
             <section class="home" id="inicio">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../public/img/productos/Img-1.png" class="d-block w-100" alt="...">
                            <div class="col-md-4">
                                <div class="cont-1 carousel-caption d-none d-md-block">
                                    <h2>Colección Exquisita</h2>
                                    <h1>FRAGANCIAS PREMIUM</h1>
                                    <button class="discover">Descubrir</button>
                                    <p>Descubra una encantadora variedad de aromas que cautivan los sentidos y evocan emociones, seleccionados para aquellos que aprecian las cosas buenas de la vida.</p>
                                </div>
    
                                <div class="cont-2 carousel-caption d-flex">
                                    <p>Tuxedo #14</p>
                                    <a><i class="bi bi-arrow-up-right-circle-fill"></i></a>
                                </div>

                                <div class="cont-3 carousel-caption">
                                    <p class="p1">Más</p>
                                    <h1>+40</h1>
                                    <p>marcas</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="../public/img/productos/Img-2.png" class="d-block w-100" alt="...">
                            <div class="col-md-4">
                                <div class="cont-1 carousel-caption d-none d-md-block">
                                    <h2>Colección Exquisita</h2>
                                    <h1>FRAGANCIAS PREMIUM</h1>
                                    <button class="discover">Descubrir</button>
                                    <p>Descubra una encantadora variedad de aromas que cautivan los sentidos y evocan emociones, seleccionados para aquellos que aprecian las cosas buenas de la vida.</p>
                                </div>
    
                                <div class="cont-2 carousel-caption d-flex">
                                    <p>Yves S. #18</p>
                                    <a><i class="bi bi-arrow-up-right-circle-fill"></i></a>
                                </div>

                                <div class="cont-3 carousel-caption">
                                    <p class="p1">Más</p>
                                    <h1>+40</h1>
                                    <p>marcas</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="../public/img/productos/Img-3.png" class="d-block w-100" alt="...">
                            <div class="col-md-4">
                                <div class="cont-1 carousel-caption d-none d-md-block">
                                    <h2>Colección Exquisita</h2>
                                    <h1>FRAGANCIAS PREMIUM</h1>
                                    <button class="discover">Descubrir</button>
                                    <p>Descubra una encantadora variedad de aromas que cautivan los sentidos y evocan emociones, seleccionados para aquellos que aprecian las cosas buenas de la vida.</p>
                                </div>
    
                                <div class="cont-2 carousel-caption d-flex">
                                    <p>Reveur #8</p>
                                    <a><i class="bi bi-arrow-up-right-circle-fill"></i></a>
                                </div>

                                <div class="cont-3 carousel-caption">
                                    <p class="p1">Más</p>
                                    <h1>+40</h1>
                                    <p>marcas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="slider" id="slider">
                <div class="slide-track">
                    <div class="slide">
                        <img src="../public/img/logos/calvin-klein.svg" fill="737174" alt="">
                    </div>
                    <div class="slide">
                        <img src="../public/img/logos/chanel.svg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../public/img/logos/dior.svg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../public/img/logos/floris.svg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../public/img/logos/JoE.svg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../public/img/logos/kenzo.svg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../public/img/logos/martin-harris.svg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../public/img/logos/garmani.svg" alt="">
                    </div>

                    <div class="slide">
                        <img src="../public/img/logos/calvin-klein.svg" fill="737174" alt="">
                    </div>
                    <div class="slide">
                        <img src="../public/img/logos/chanel.svg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../public/img/logos/dior.svg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../public/img/logos/floris.svg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../public/img/logos/JoE.svg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../public/img/logos/kenzo.svg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../public/img/logos/martin-harris.svg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../public/img/logos/garmani.svg" alt="">
                    </div>
                    
                </div>
            </section>
        </main>
        
        <footer class="container-fluid footer">
            <div class="row ps-5 pe-5 pb-3 pt-5">
                <div class="col-md-3">
                    <div class="row ps-5 pb-5">
                        <h3 class="six-caps-regular titulo">OREON</h3>
                        <p>15523 Sirena Well, Leschport, <span class="d-block mt-0">MA 11862-4746</span></p>
                    </div>
                    <div class="row p-5 pt-5">
                        <ul class="d-flex align-items-center list-unstyled pt-4">
                            <li><a href="" class="icons fs-6 p-2 rounded-circle"><i class="bi bi-whatsapp"></i></a></li>
                            <li><a href="" class="icons fs-6 p-2 ms-2 rounded-circle"><i class="bi bi-instagram"></i></a></li>
                            <li><a href="" class="icons fs-6 p-2 ms-2 rounded-circle"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 pt-1 ps-5">
                    <h4>Links utiles</h4>
                    <ul class="list-unstyled">
                        <li><a href="" class="footer-link text-decoration-none">Inicio</a></li>
                        <li><a href="" class="footer-link text-decoration-none">Blog</a></li>
                        <li><a href="" class="footer-link text-decoration-none">Tienda</a></li>
                        <li><a href="" class="footer-link text-decoration-none">Venta</a></li>
                    </ul>
                </div>
                <div class="col-md-3 pt-1 ps-5">
                    <div class="row pb-4">
                        <h4>Contactanos</h4>
                        <p class="footer-info">+8801322095658</p>
                        <p class="footer-info">+8801322095658</p>
                    </div>
                    <div class="container footer-info">
                        <p>Lunes-Viernes</p>
                        <p>8AM-5PM</p>  
                        <p>Sabados-Domingos</p>
                        <p>10AM-2PM</p>
                    </div>
                </div>
                <div class="col-md-3 pt-1 ps-5">
                    <h4>Servicio al cliente</h4>
                    <ul class="list-unstyled">
                        <li><a href="" class="footer-link text-decoration-none">Ordenes</a></li>
                        <li><a href="" class="footer-link text-decoration-none">Carrito</a></li>
                        <li><a href="" class="footer-link text-decoration-none">Lista de deseos</a></li>
                        <li><a href="" class="footer-link text-decoration-none">Cuenta</a></li>
                        <li><a href="" class="footer-link text-decoration-none">Politica de privacidad</a></li>
                    </ul>
                </div>
            </div>
            <div class="row copyrights">
                <div class="col d-flex justify-content-center align-items-center">
                    <p>Copyright ©Oreon, All Rights Reserved.</p>
                </div>
            </div>
        </footer>
    </body>
</html>
