@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.six-caps-regular {
    font-family: "Six Caps", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.qwigley-regular {
    font-family: "Qwigley", cursive;
    font-weight: 400;
    font-style: normal;
}
.viaoda-libre-regular {
    font-family: "Viaoda Libre", serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
/*Declaracion de variables para las diversas clases*/

:root{
    --header-bgc: #151419;
    --header-color: #fff;
    --header-border-btm-color: #fff;

    --nav-link-color: white;

    --btn-link-color: #151419;
    --btn-link-bgc: #fff;

    --primary-font: "Qwigley", cursive;
    --secondary-font: "Viaoda Libre", serif;
    --terciary-font: "Poppins", sans-serif;
    --color-1: #151419;
    --color-2: #ddc8a9;
    --color-3: #6e6264;


    --footer-background-color: #151419;
    --footer-elements-color: white;
    --copyrights-color: #4C4C50;
    --copyrights-border-top-color: #2A292E;
    --footer-info-color: #57575A;
    --footer-icons-color: #A4A4A6;
    --footer-icons-border-color: #A4A4A6;
    --footer-icons-color-hover: white;
    --footer-icons-border-color-hover: white;
    --footer-link-color-hover: white;
}


/*************/
/*   NAVBAR  */
/*************/
/*Estilos aplicados al header*/
.header { 
    background-color: var(--header-bgc);
    color: var(--header-color);
    border-bottom: 1px solid var(--header-border-btm-color);
}

.nav-link {
    border: none;
    cursor: pointer;
    color: var(--nav-link-color);
}

.nav-link:hover {
    border: 1.5px solid var(--secondary-color);
}

.titulo{
    font-size: 50px;
}

.btn-link{
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 1.5s ease;
}

.btn-link:hover {
    color: var(--btn-link-bgc);
    background-color: var(--btn-link-color);
}

.search-form{
    border: 1.5px solid var(--secondary-color);
}

.search-form input{
    background-color: #151419;
    color: white;
    outline: none;
    border: none;
}


.cont-btn a{
    margin-left: 23px;
}

.cont-btn i{
    background-color: #151419;
    color: #848494;
    font-size: 15px;
    border: 1.5px solid #848494;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, .35);
    transition: .3s ease;
}

.cont-btn i:hover{
    background-color: #848494;
    color: #151419;
}

.cont-btn .bi-cart{
    margin-right: 0px;
}

.cont-btn .person{
    margin-left: 15px;
}


/*************/
/*    HOME   */
/*************/
/*Aplicacion de estilos al Home*/
.carousel .carousel-indicators{
    flex-direction: column;
    bottom: auto;
    top: 650px;
    left: 820px;
    right: 10px;
    margin: 0;
    transform: translateY(-50%);
}

.carousel .carousel-indicators button{
    transform: rotate(90deg);
    margin-bottom: 20px;
}

.carousel-inner{
    display: flex;
    flex-direction: column;
}

.carousel-item .cont-1{
    top: 120px;
    left: 80px;
    text-align: justify;
    width: 400px;
}

.carousel-item .cont-1 h2{
    font-family: var(--primary-font);
    font-size: 55px;
    margin-bottom: 0;
}

.carousel-item .cont-1 h1{
    font-family: var(--secondary-font);
    font-size: 60px;
    margin-bottom: 40px;
}

.carousel-item .cont-1 button{
    background-color: var(--color-2);
    border: 1.5px;
    border-radius: 50px;
    color: var(--color-1);
    font-family: var(--terciary-font);
    font-size: 16px;
    padding: 15px 30px;
    transition: background-color 1s, color 1s;
}

.carousel-item .cont-1 button:hover{
    background-color: var(--color-3);
    color: var(--color-2);
}

.carousel-item .cont-1 p{
    font-family: var(--terciary-font);
    font-size: 15px;
    margin-top: 150px;
}

.carousel-item .cont-2{
    align-items: center;
    margin-top: 0;
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 60px;
    color: white;
    padding: 5px 20px;
    padding-right: 0;
    width: 168px;
    height: 50px;
    top: 400px;
    left: 700px;
}

.carousel-item .cont-2 p{
    margin-bottom: 0;
    font-family: var(--terciary-font);
    margin-right: 15px;
}

.carousel-item .cont-2 a{
    font-size: 35px;
    cursor: pointer;
}

.carousel-item .cont-3{
    text-align: right;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 12px;
    width: 150px;
    height: 150px;
    top: 140px;
    left: 1050px;
}

.carousel-item .cont-3 p{
    font-family: var(--terciary-font);
    font-size: 20px;
    margin-bottom: 0;
    margin-right: 30px;
}

.carousel-item .cont-3 .p1{
    height: 20px;
}

.carousel-item .cont-3 h1{
    font-family: var(--secondary-font);
    font-size: 60px;
    margin-right: 30px;
    margin-bottom: 0;
    height: 60px;
}



/*************/
/*   FOOTER  */
/*************/
/*Estilos aplicados al footer*/

.footer {
    background-color: var(--footer-background-color);
    color: var(--footer-elements-color)
}

.icons{
    color: var(--footer-icons-color);
    border: 1px solid var(--footer-icons-border-color);
    transition: color 1.9s, border 1.9s;
}

.icons:hover {
    color: var(--footer-icons-color-hover);
    border: 1px solid var(--footer-icons-border-color-hover);
}

.copyrights {
    color: var(--copyrights-color);
    border-top: 3px solid var(--copyrights-border-top-color);
}

.footer-link, .footer-info {
    color: var(--footer-info-color);
}

.footer-link {
    cursor: pointer;
    transition: color 1.9s
}

.footer-link:hover{
    color: var(--footer-link-color-hover);
}
